:root {
    --text:       rgb(0, 255, 213);
    --shadows:    rgba(0, 238, 255, 0.37);
    --hover:      rgba(76, 0, 255, 0.219);
    --background: rgb(0, 6, 23);
    --red:        rgb(255, 0, 0);
    --blue:       rgb(0, 4, 255);
    --trans :     rgba(68, 0, 80, 0.253);
}
*{
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
body{
  margin: 1px;
  padding: 0px;
  background-color: var(--background);
  color: var(--text);
}
